.App {
  text-align: center;
}

h2 {
  font-family: "Chilanka", cursive;
}
input {
  font-size: 24px;
  border: 2px solid palevioletred;
  border-radius: 5%;
  margin: 10px;
}

button {
  padding: 10px 25px;
  margin: 20px;
  font-size: 16px;
  border-radius: 15px;
  border: 2px solid pink;
  background-color: pink;
}

button:hover {
  background-color: white;
  color: palevioletred;
}

.age-guess {
  font-size: 24px;
  font-family: "Chilanka", cursive;
}
